<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @blog.username %>
</p>

<p>
  <strong>User:</strong>
  <%= @blog.user %>
</p>

<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
